body{width: 400px;
     height: 700px;
     float:left;
     background-color: white;
}

#page{
   width: 400px;
   height: 700px;
   background-color: white;
}
h1{
  font-size: 20px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  width: 400px;
  height:22px;
  background-color: #F7D358;
  font-weight: bold;
}

p{
  font-size: 18px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
}

img{
  width: 400px;
  height: 320px;
}
